<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.android.providers.tv.permission.READ_EPG_DATA"/>
    <uses-permission android:name="com.android.providers.tv.permission.WRITE_EPG_DATA"/>

    <!-- We don't need a MulticastLock on API level 34+ because we use NsdManager for mDNS -->
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"
        android:maxSdkVersion="33" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.accelerometer"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />

    <!-- Disable legacy input emulation on ChromeOS -->
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/backup_rules_s"
        android:networkSecurityConfig="@xml/network_security_config"
        android:isGame="true"
        android:banner="@drawable/atv_banner"
        android:appCategory="game"
        android:icon="@mipmap/ic_launcher"
        android:installLocation="auto"
        android:gwpAsanMode="always"
        android:localeConfig="@xml/locales_config"
        android:enableOnBackInvokedCallback="false"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ResolutionActivity"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.oculus.intent.category.2D" />
            </intent-filter>

        </activity>

        <provider
            android:name=".PosterContentProvider"
            android:authorities="poster.${applicationId}"
            android:enabled="true"
            android:exported="true">
        </provider>

        <!-- Samsung multi-window support -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />
        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />

        <!-- Disable Game Mode downscaling since it can break our UI dialogs and doesn't benefit
             performance much for us since we don't use GL/Vulkan for rendering anyway -->
        <meta-data
            android:name="com.android.graphics.intervention.wm.allowDownscale"
            android:value="false"/>
        
        <!-- Game Mode configuration -->
        <meta-data
            android:name="android.game_mode_config"
            android:resource="@xml/game_mode_config" />

        <!-- Samsung DeX support requires explicit placement of android:resizeableActivity="true"
             in each activity even though it is implied by targeting API 24+ -->

        <activity
            android:name=".PcViewFHD"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:exported="true">

            <layout
                android:defaultWidth="1920px"
                android:defaultHeight="1080px"
                android:gravity="top"
                android:minWidth="1920px"
                android:minHeight="1080px"/>
        </activity>

        <activity
            android:name=".PcViewQHD"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:exported="true">

            <layout
                android:defaultWidth="2560px"
                android:defaultHeight="1440px"
                android:gravity="top"
                android:minWidth="2560px"
                android:minHeight="1440px"/>
        </activity>
        <activity
            android:name=".PcViewWFHD"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:exported="true">

            <layout
                android:defaultWidth="2560px"
                android:defaultHeight="1080px"
                android:gravity="top"
                android:minWidth="2560px"
                android:minHeight="1080px"/>
        </activity>
        <activity
            android:name=".PcViewWQHD"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:exported="true">

            <layout
                android:defaultWidth="3440px"
                android:defaultHeight="1440px"
                android:gravity="top"
                android:minWidth="3440px"
                android:minHeight="1440px"/>
        </activity>
        <activity
            android:name=".PcViewUHD"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:exported="true">
            <layout
                android:defaultWidth="3840px"
                android:defaultHeight="2160px"
                android:gravity="top"
                android:minWidth="3840px"
                android:minHeight="2160px"/>
        </activity>
        <activity
            android:name=".PcView"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:screenOrientation="landscape"
            android:exported="true">
            <meta-data android:name="WindowManagerPreference:FreeformWindowOrientation" android:value="landscape" />
        </activity>
        <!-- Small hack to support launcher shortcuts without relaunching over and over again when the back button is pressed -->
        <activity
            android:name=".ShortcutTrampoline"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:exported="true"
            android:noHistory="true"
            android:resizeableActivity="true">
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowSize"
                android:value="system-default" />
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowOrientation"
                android:value="landscape" />
        </activity>
        <activity
            android:name=".AppView"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:resizeableActivity="true">
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowSize"
                android:value="system-default" />
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowOrientation"
                android:value="landscape" />
        </activity>
        <activity
            android:name=".preferences.StreamSettings"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:label="Streaming Settings"
            android:resizeableActivity="true">
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowSize"
                android:value="system-default" />
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowOrientation"
                android:value="landscape" />
        </activity>
        <activity
            android:name=".preferences.AddComputerManually"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:label="Add Computer Manually"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateVisible">
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowSize"
                android:value="system-default" />
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowOrientation"
                android:value="landscape" />
        </activity>
        <activity
            android:name=".Game"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="false"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:preferMinimalPostProcessing="true"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            android:theme="@style/StreamTheme">
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowSize"
                android:value="system-default" />
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowOrientation"
                android:value="landscape" />

            <!--
                 Special metadata for NVIDIA Shield devices to prevent input buffering
                 and most importantly, opt out of mouse acceleration while streaming
            -->
            <meta-data
                android:name="com.nvidia.immediateInput"
                android:value="true" />
            <meta-data
                android:name="com.nvidia.rawCursorInput"
                android:value="true" />
        </activity>

        <service
            android:name=".discovery.DiscoveryService"
            android:label="mDNS PC Auto-Discovery Service" />
        <service
            android:name=".computers.ComputerManagerService"
            android:label="Computer Management Service" />
        <service
            android:name=".binding.input.driver.UsbDriverService"
            android:label="Usb Driver Service" />

        <activity
            android:name=".HelpActivity"
            android:configChanges="mcc|mnc|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|fontScale|uiMode|orientation|screenSize|smallestScreenSize|layoutDirection"
            android:enableOnBackInvokedCallback="true"
            android:resizeableActivity="true">
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowSize"
                android:value="system-default" />
            <meta-data
                android:name="WindowManagerPreference:FreeformWindowOrientation"
                android:value="landscape" />
        </activity>
    </application>

</manifest>